<form>
  <div class="mb-3">
    <label for="inputName" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="inputName" placeholder="Ingrese su nombre">
  </div>
  <div class="mb-3">
    <label for="inputAge" class="form-label">Edad</label>
    <input type="number" class="form-control" id="inputAge" placeholder="Ingrese su edad">
  </div>
  <div class="mb-3">
    <label for="inputPhone" class="form-label">Teléfono</label>
    <input type="tel" class="form-control" id="inputPhone" placeholder="Ingrese su número de teléfono">
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Correo electrónico</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Ingrese su correo electrónico">
    <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
