<div>
    <section id="inicio" class="hero">
        <div class="hero-content">
            <h1>Bienvenido a Mi Sitio Web</h1>
            <p>Explora nuestra plataforma para descubrir más sobre nosotros.</p>
        </div>
    </section>
    
    <section id="nosotros" class="about">
        <div class="about-content">
            <h2>Sobre Nosotros</h2>
            <p>Somos una empresa comprometida con nuestros clientes...</p>
        </div>
    </section>

    <button (click)="mostrarImagen()" class="btn btn-success">Conócenos</button>
</div>
