<div class="container">
    <!-- seccion de encabezado -->
    <section id="hero" class="hero">
        <div class="hero-content">
            <h2>Bienvenido a la Empresa</h2>
            <p>Somos una empresa comprometida con brindar al cliente un excelente servicio</p>
            <button  class="btn btn-warning">Más información</button>
        </div>
    </section>
    <!-- seccion de encabezado -->
    <section id="about" class="about">
        <div class="container">
            <h2>Acerca de Nosotros</h2>
            <p>Somos una empresa líder en [industria]. Nuestro compromiso es proporcionar soluciones innovadoras y de calidad para nuestros clientes.</p>
        </div>
    </section>
    <!-- seccion de cuerpo -->
    <section id="services" class="services">
        <div class="container">
            <h2>Nuestros Servicios</h2>
            <div class="service">
                <h3>Servicio 1</h3>
                <p>Brindamos soporte de nuestros desarrollos.</p>
            </div>
            <div class="service">
                <h3>Servicio 2</h3>
                <p>Brindamos las mejores paginas para desarrollo.</p>
            </div>
            <div class="service">
                <h3>Servicio 3</h3>
                <p>Distribucion de productos en desarrollo.</p>
            </div>
        </div>
    </section>

  </div>
  
